* {
  box-sizing: border-box;
}
body {
  background-image: url(picture/map.jpg);
  background-size: 100% 200vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
:root {
  --brown: rgb(156, 125, 84);
  --blue-dark: #1f3d6b;
  --font: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
#header {
  background-color: var(--blue-dark);
}
#icon-header {
  color: var(--brown);
}
#header-text {
  color: rgba(255, 255, 255, 0.753);
}
#header-links {
  margin-left: 10%;
}
#header-links a {
  color: var(--brown);
  width: 10%;
  border-radius: 100%;
  border: 1px solid white;
  padding: 4px;
  transition: color 0.7s ease;
}
#header-links a:hover {
  color: azure;
}
#header-links-2 a {
  text-decoration: none;
  transition: color 0.7s ease;
  color: rgba(255, 255, 255, 0.45);
}
#header-links-2 a:hover {
  color: azure;
}
.navbar-brand {
  margin-left: 2%;
}

#navbar {
  margin-left: 45%;
  color: #1f3d6b;
}
.nav-link {
  transition: 0.4s;
  padding: 13px;
  margin-top: 3%;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}
.nav-link:hover {
  padding: 15px;
  color: var(--blue-dark);
  border-top: 2px solid var(--brown);
  border-bottom: 2px solid var(--brown);
}
.nav-link:active {
  padding: 15px;
  color: var(--blue-dark);
  border-top: 2px solid var(--brown);
  border-bottom: 2px solid var(--brown);
}

#name {
  font-size: 3vw;
  font-family: var(--font);
  margin-left: -1%;
  color: var(--brown);
}
#navlinks {
  color: var(--blue-dark);
}
#search {
  background-color: var(--brown);
  color: white;
  padding: 3px;
  font-size: 1.3vw;
  border-radius: 100%;
  outline: none;
  border: none;
  width: 4%;
  height: 6vh;
  margin-left: 1%;
}
#qoute {
  width: 13%;
  border-radius: 9999px;
  background-color: var(--brown);
  color: white;
  outline: none;
  border: none;
  padding: 5px;
  margin-left: 1%;
}

/* responsive-header */
@media screen and (max-width: 576px) {
  #header {
    display: none;
  }
  .navbar-brand {
    margin-left: -5%;
    width: 10px;
  }
  #name {
    font-size: 6.5vw;
    margin-left: 17%;
  }
  #search {
    display: none;
  }
  #qoute {
    display: none;
  }
  .navbar-toggler {
    float: right;
    margin-left: 35%;
  }
}

.page-one h6 {
  margin-top: 8%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-self: center;
  text-shadow: 2px 2px 2px var(--blue-dark);
}
.page-one h1 {
  font-size: 6vw;
  width: 60%;
  display: flex;
  text-align: center;
  justify-self: center;
  font-family: var(--font);
  margin-top: 3%;
  color: white;
  text-shadow: 2px 2px 2px var(--blue-dark);
}
.page-one p {
  width: 80%;
  display: flex;
  text-align: center;
  font-size: 1.3vw;
  justify-self: center;
  margin-top: 6%;
  color: white;
  text-shadow: 2px 2px 2px var(--blue-dark);
  font-weight: bold;
  font-weight: normal;
}
.bg-1 {
  position: relative;
  width: 100%;
  height: 90vh;
}
.bg-1 img {
  width: 100%;
  height: 90vh;
  filter: blur(7px);
}

#details {
  position: absolute;
  top: -10%;
}
#details button {
  justify-self: center;
  width: 10%;
  padding: 10px;
  background-color: var(--brown);
  border-radius: 9999px;
  margin-top: 2%;
  display: flex;
  font-weight: normal;
  color: white;
}
/* responsive page 1 */
@media screen and (max-width: 776px) {
  .page-one h6 {
    margin-top: 65%;
    font-weight: normal;
    font-size: 3.5vw;
  }
  .page-one h1 {
    font-size: 8vw;
    width: 80%;
    margin-top: 10%;
  }
  .page-one p {
    width: 80%;
    font-size: 2.5vw;
    margin-top: 15%;
  }
  #details button {
    width: 40%;
    margin-top: 3%;
  }
}
/* page-two */
.page-two {
  width: 100%;
  height: 105vh;
  background-color: whitesmoke;
  overflow-x: hidden;
}
.page-2-pics {
  width: 80%;
  height: 80vh;
  background-color: gainsboro;
  border-radius: 20px;
}
#img1-page2 {
  width: 100%;
  height: 60vh;
  margin-top: 28%;
}
#img2-page2 {
  margin-top: -163%;
  margin-left: 15%;
  width: 90%;
}
.about-page2 {
  height: 100vh;
  padding: 70px;
}
.about-page2 h6,
.about-page2 h2 {
  color: var(--blue-dark);
}
.about-page2 h2 {
  font-family: var(--font);
  margin-top: 3%;
  font-size: 3.2vw;
}
.about-page2 span {
  display: block;
  margin-top: -6%;
  margin-left: 35%;
  font-size: 2vw;
}
#first-line {
  margin-top: -11%;
  color: var(--blue-dark);
}
#second-line {
  color: var(--brown);
}
.about-page2 p {
  color: gray;
  margin-top: 6%;
}
.icons-page2 {
  display: flex;
  width: 100%;
}
.icons-page2 i {
  font-size: 3.5vw;
  color: var(--brown);
}
.icons-page2 span {
  display: inline-block;
  width: 80%;
  color: var(--blue-dark);
  font-size: 1.2vw;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 1%;
}
.experience {
  width: 90%;
  height: 30vh;
  background-color: gainsboro;
  margin-top: 10%;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
}
.experience i {
  font-size: 5.5vw;
  color: var(--blue-dark);
  margin-top: 8%;
}
#years-of-Experience {
  font-size: 3vw;
  margin-top: -10% !important;
  font-weight: bold;
  font-family: var(--font);
  color: var(--blue-dark);
}
.experience p {
  margin-top: -11%;
}
#offers {
  margin-left: -10%;
  margin-top: 7%;
}
#offers i {
  font-size: 1vw;
  color: var(--brown);
  margin-top: 3%;
}
#offers span {
  font-size: 1vw;
  margin-left: 6%;
  margin-top: -6.5%;
  color: var(--blue-dark);
  font-weight: bold;
}
#phone-icon {
  font-size: 5vw;
  position: relative;
  color: var(--blue-dark);
  margin-left: -12%;
  margin-top: 4%;
}
#msg-icon {
  display: block;
  position: absolute;
  float: left;
  font-size: 1.5vw;
  color: var(--brown);
  margin-top: -17%;
  margin-left: 2%;
}
#question {
  margin-top: -60px !important;
  color: var(--blue-dark);
  font-weight: bold;
}
#question2 {
  margin-top: -20px;
  margin-left: 45px;
  color: var(--brown);
  font-weight: bold;
}
/* responsive page 2 */

@media screen and (max-width: 776px) {
  .page-two {
    width: 100%;
    height: auto;
  }
  .page-2-pics {
    width: 80%;
    height: 50vh;
    margin-top: 5%;
  }
  #img1-page2 {
    width: 100%;
    height: 30vh;
    margin-top: 49%;
  }
  #img2-page2 {
    margin-top: -183%;
    height: 30vh;
  }

  .about-page2 h6 {
    font-size: 3.2vw;
  }
  .about-page2 h2 {
    margin-top: 7%;
    font-size: 5.2vw;
  }
  .about-page2 span {
    display: block;
    margin-top: -6%;
    margin-left: 53%;
    font-size: 2vw;
  }
  .about-page2 p {
    font-size: 2vw;
  }
  .icons-page2 i {
    font-size: 5.5vw;
    margin-top: 2%;
  }
  .icons-page2 span {
    font-size: 3.2vw;
    margin-left: 2%;
    margin-top: 1%;
  }
  .experience {
    width: 80%;
    height: 27vh;
    margin-left: 7%;
  }
  .experience i {
    font-size: 25.5vw;
    margin-top: 2%;
  }
  #years-of-Experience {
    font-size: 10vw;
  }
  .experience p {
    font-size: 5vw;
  }
  #offers {
    margin-left: 10%;
    margin-top: 7%;
  }
  #offers i {
    font-size: 5vw;
    margin-top: 4%;
  }
  #offers span {
    font-size: 3vw;
    margin-left: 14%;
    margin-top: -9.5%;
  }
  .quastion-div {
    margin-top: 5%;
  }
  #phone-icon {
    font-size: 9vw;
    margin-left: 15%;
    margin-top: 4%;
    position: relative;
  }
  #msg-icon {
    font-size: 3.5vw;
    margin-top: -13%;
    margin-left: 21%;
    position: absolute;
  }
  #question {
    margin-top: -35px !important;
    color: var(--blue-dark);
    position: absolute;
    font-weight: bold;
    font-size: 2.5vw;
    margin-left: 30% !important;
    float: left;
  }
  #question2 {
    margin-top: -30x !important;
    color: var(--blue-dark);
    position: absolute;
    font-weight: bold;
    font-size: 2.5vw;
    margin-left: 30% !important;
    float: left;
  }
}
/* page 3 */
.page-three {
  width: 100%;
  height: 60vh;
  background-color: rgba(245, 245, 245, 0.623);
}
.categories,
.team-mmbr,
.visa-process,
.rates {
  width: 75%;
  height: 40vh;
  margin-left: 15%;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  margin-top: 25%;
}
#blue-div {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--blue-dark);
}
.icon-div-page2 {
  position: relative;
  width: 50%;
  height: 18vh;
  background-color: #08316d8b;
  display: flex;
  justify-content: center;
  margin-top: -5%;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.icon-div-page2::before {
  content: "";
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 16.5vh;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
  background-color: #2f62af46;
}

.icon-div-page2 i {
  font-size: 4.5vw;
  margin-top: 12%;
  color: var(--brown);
  transition: transform 0.6s ease;
  z-index: 1;
}
.categories:hover .icon-div-page2 i,
.team-mmbr:hover .icon-div-page2 i,
.visa-process:hover .icon-div-page2 i,
.rates:hover .icon-div-page2 i {
  transform: rotate(360deg);
}
.categories P,
.team-mmbr p,
.visa-process p,
.rates p {
  justify-self: center;
  color: var(--blue-dark);
  font-weight: bold;
  margin-top: 8%;
  letter-spacing: 1.5px;
}
.categories b,
.team-mmbr b,
.visa-process b,
.rates b {
  display: block;
  justify-self: center;
  color: var(--brown);
  font-size: 2.5vw;
  margin-top: -8%;
  font-family: var(--font);
}
/* responsive page 2 */
@media screen and (max-width: 567px) {
  .page-three {
    width: 100%;
    height: auto;
    padding: 10%;
  }

  .categories,
  .team-mmbr,
  .visa-process,
  .rates {
    width: 70%;
    height: 40vh;
    margin-left: 15%;
  }
  .categories div,
  .team-mmbr div,
  .visa-process div,
  .rates div {
    height: 15vh;
  }
  .icon-div-page2 {
    width: 40%;
  }
  .icon-div-page2::before {
    width: 100%;
    height: 36vh;
  }
  .icon-div-page2 i {
    font-size: 15.5vw;
    margin-top: 20%;
  }
  .categories P,
  .team-mmbr p,
  .visa-process p,
  .rates p {
    font-size: 5.2vw;
    text-align: center;
  }
  .categories b,
  .team-mmbr b,
  .visa-process b,
  .rates b {
    font-size: 10.5vw;
    margin-top: -5%;
    text-align: center;
  }
}
/* page4 */
.page-four {
  height: auto;
  padding: 8%;
  background-color: white;
  overflow: hidden;
}
.details-page4,
.details-page5 {
  text-align: center;
}
.div1-page4,
.div1-page5,
.div1-page6 {
  display: flex;
  justify-content: center;
}
#first-line-right,
#first-line-left {
  color: var(--blue-dark);
  font-weight: bolder;
}
#second-line-right,
#second-line-left {
  color: var(--brown);
  font-weight: bolder;
}
.div1-page4 p,
.div1-page5 p,
.div1-page6 p {
  color: var(--blue-dark);
  letter-spacing: 2px;
  font-weight: bold;
}
.details-page4 h2 {
  font-size: 4.5vw;
  width: 60%;
  font-family: var(--font);
  color: var(--blue-dark);
  justify-self: center;
}
#page4-para,
#page5-para,
#page6-para {
  color: gray;
  margin-top: 4%;
  width: 80%;
  justify-self: center;
}

.div1-overlay,
.div2-overlay,
.div3-overlay,
.div1-part2-overlay,
.div2-part2-overlay,
.div3-part2-overlay {
  width: 100%;
  height: 60vh;
  background-size: 100% 60vh;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-left: 2%;
}
.div1-overlay {
  background-image: url(picture/pic1-page4.jpg);
}
.div2-overlay {
  background-image: url(picture/pic-page4.jpg);
}
.div3-overlay {
  background-image: url(picture/pic3page4.jpg);
}
.div1-part2-overlay {
  background-image: url(picture/pic4page4.jpg);
}
.div2-part2-overlay {
  background-image: url(picture/pic6page4.jpg);
}
.div3-part2-overlay {
  background-image: url(picture/pic5page4.jpg);
}
.overlay {
  background-color: rgba(245, 245, 245, 0.445);
  width: 100%;
  height: 0px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  transition: 1s ease;
  overflow: hidden;
}
.div1-overlay:hover .overlay,
.div2-overlay:hover .overlay,
.div3-overlay:hover .overlay,
.div1-part2-overlay:hover .overlay,
.div2-part2-overlay:hover .overlay,
.div3-part2-overlay:hover .overlay {
  height: 60vh;
  top: 0%;
}
.div1-1-overlay,
.div2-2-overlay,
.div3-3-overlay {
  text-align: center;
  width: 80%;
  padding: 5%;
  color: white;
  position: absolute;
  border-radius: 20px;
  margin-top: 78%;
  justify-self: center;
  transition: all 1s ease;
  z-index: 1;
}
.div1-1-overlay h3,
.div2-2-overlay h3,
.div3-3-overlay h3 {
  background-color: var(--blue-dark);
  border-radius: 10px;
  width: 100%;
  padding-top: 3%;
  font-family: var(--font);
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1.5vw;
  height: 8vh;
}
.div1-1-overlay hr,
.div2-2-overlay hr,
.div3-3-overlay hr {
  display: none;
}
.div1-1-overlay p,
.div2-2-overlay p,
.div3-3-overlay p {
  color: gray;
  display: none;
  margin-top: 0%;
}
.div1-1-overlay button,
.div2-2-overlay button,
.div3-3-overlay button {
  background-color: rgb(234, 233, 233);
  color: var(--brown);
  padding: 3%;
  width: 50%;
  height: 8vh;
  justify-self: center;
  border-radius: 9999px;
}
.div1-overlay:hover .div1-1-overlay,
.div2-overlay:hover .div2-2-overlay,
.div3-overlay:hover .div3-3-overlay,
.div1-part2-overlay:hover .div1-1-overlay,
.div2-part2-overlay:hover .div2-2-overlay,
.div3-part2-overlay:hover .div3-3-overlay {
  height: 50vh;
  background-color: #1f3d6b;
  margin-top: 30%;
}
.div1-overlay:hover .div1-1-overlay hr,
.div2-overlay:hover .div2-2-overlay hr,
.div3-overlay:hover .div3-3-overlay hr,
.div1-part2-overlay:hover .div1-1-overlay hr,
.div2-part2-overlay:hover .div2-2-overlay hr,
.div3-part2-overlay:hover .div3-3-overlay hr {
  display: block;
}
.div1-overlay:hover .div1-1-overlay p,
.div2-overlay:hover .div2-2-overlay p,
.div3-overlay:hover .div3-3-overlay p,
.div1-part2-overlay:hover .div1-1-overlay p,
.div2-part2-overlay:hover .div2-2-overlay p,
.div3-part2-overlay:hover .div3-3-overlay p {
  display: block;
}
.div1-overlay:hover .div1-1-overlay button,
.div2-overlay:hover .div2-2-overlay button,
.div3-overlay:hover .div3-3-overlay button,
.div1-part2-overlay:hover .div1-1-overlay button,
.div2-part2-overlay:hover .div2-2-overlay button,
.div3-part2-overlay:hover .div3-3-overlay button {
  display: block;
  background-color: var(--brown);
  border-radius: 9999px;
  color: white;
  justify-self: center;
}
.part2-page4 {
  margin-top: 10%;
}
/* responsive page4 */
@media screen and (max-width: 576px) {
  .div1-overlay {
    margin-left: 0%;
  }
  .page-four {
    padding-bottom: 35%;
    padding-top: 0;
  }
  .div1-page4 p {
    font-size: 3vw;
    margin-top: 4%;
  }
  .details-page4 h2 {
    font-size: 6.5vw;
    width: 90%;
  }
  #page4-para {
    width: 90%;
    font-size: 3vw;
  }

  .div2-overlay,
  .div3-overlay,
  .div1-part2-overlay,
  .div2-part2-overlay,
  .div3-part2-overlay {
    margin-top: 15vh;
    margin-left: 0;
  }
  .div1-overlay {
    margin-top: 3vh;
  }
  .div1-1-overlay,
  .div2-2-overlay,
  .div3-3-overlay {
    margin-top: 53vh;
  }
  .div1-1-overlay h3,
  .div2-2-overlay h3,
  .div3-3-overlay h3 {
    font-size: 4.5vw;
    margin-top: 5%;
    padding-top: 3%;
    height: 6vh;
  }
  .div1-1-overlay button,
  .div2-2-overlay button,
  .div3-3-overlay button {
    padding: 2%;
    width: 60%;
    height: 5vh;
    justify-self: center;
  }
  .div1-overlay:hover .div1-1-overlay,
  .div2-overlay:hover .div2-2-overlay,
  .div3-overlay:hover .div3-3-overlay,
  .div1-part2-overlay:hover .div1-1-overlay,
  .div2-part2-overlay:hover .div2-2-overlay,
  .div3-part2-overlay:hover .div3-3-overlay {
    height: 40vh;
    background-color: #1f3d6b;
    margin-top: 60%;
  }
  .div1-overlay:hover .div1-1-overlay p,
  .div2-overlay:hover .div2-2-overlay p,
  .div3-overlay:hover .div3-3-overlay p,
  .div1-part2-overlay:hover .div1-1-overlay p,
  .div2-part2-overlay:hover .div2-2-overlay p,
  .div3-part2-overlay:hover .div3-3-overlay p {
    display: block;
    font-size: 3.5vw;
  }
}
/* page5 */
.page-five {
  height: auto;
  padding: 1%;
  padding-top: 8%;
  background-color: whitesmoke;
  overflow: hidden;
  padding-bottom: 4%;
}
.details-page5 h2 {
  font-size: 4.5vw;
  width: 80%;
  font-family: var(--font);
  color: var(--blue-dark);
  justify-self: center;
}
.cost-effective,
.visa-assistance,
.faster-processing,
.Direct-interviews {
  width: 90%;
  height: 57vh;
  border-radius: 20px;
  padding: 9%;
  margin-left: 4%;
  margin-top: 5%;
  background-color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.cost-effective {
  margin-left: 10%;
}
.overlay-page5 {
  background-color: #1f3d6b38;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 57vh;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  transition: 1s ease;
  overflow: hidden;
}
.cost-effective:hover .overlay-page5,
.visa-assistance:hover .overlay-page5,
.faster-processing:hover .overlay-page5,
.Direct-interviews:hover .overlay-page5 {
  height: 57vh;
  top: 0%;
}
#dolor-icon,
#visa-icon,
#processing-icon,
#direct-icon {
  width: 35%;
  height: 14vh;
  background-color: #1f3d6b40;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-self: center;
}

#dolor-icon i,
#visa-icon i,
#processing-icon i,
#direct-icon i {
  font-size: 4vw;
  color: var(--blue-dark);
  padding-top: 2.5vh;
  transition: transform 0.5s ease;
}
.cost-effective:hover #dolor-icon i,
.visa-assistance:hover #visa-icon i,
.faster-processing:hover #processing-icon i,
.Direct-interviews:hover #direct-icon i {
  transform: rotate(360deg);
  color: var(--brown);
}
.cost-effective h6,
.visa-assistance h6,
.faster-processing h6,
.Direct-interviews h6 {
  justify-self: center;
  margin-top: 4vh;
  color: var(--blue-dark);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5vw;
}
.cost-effective p,
.visa-assistance p,
.faster-processing p,
.Direct-interviews p {
  justify-self: center;
  margin-top: 4vh;
  color: gray;
}
.cost-effective button,
.visa-assistance button,
.faster-processing button,
.Direct-interviews button {
  color: var(--brown);
  font-weight: bold;
}
.cost-effective button:hover,
.visa-assistance button:hover,
.faster-processing button:hover,
.Direct-interviews button:hover {
  color: var(--blue-dark);
}
#btn-page5 {
  justify-self: center !important;
  background-color: var(--brown) !important;
  color: white !important;
  border-radius: 9999px !important;
  margin-top: 2%;
  width: 13%;
  height: 8vh;
  margin-left: 43%;
  transition: background-color 0.8s ease;
}
#btn-page5:hover {
  background-color: var(--blue-dark) !important;
  color: white;
}
/* responsive-page5 */
@media screen and (max-width: 576px) {
  .details-page5 p {
    font-size: 3vw;
    margin-top: 4.5%;
  }
  .details-page5 h2 {
    font-size: 5.5vw;
    width: 90%;
  }
  .cost-effective,
  .visa-assistance,
  .faster-processing,
  .Direct-interviews {
    height: 47vh;
    padding: 9%;
  }
  .cost-effective {
    margin-left: 4%;
  }

  #dolor-icon,
  #visa-icon,
  #processing-icon,
  #direct-icon {
    width: 30%;
    height: 10vh;
    justify-self: center;
  }
  #dolor-icon i,
  #visa-icon i,
  #processing-icon i,
  #direct-icon i {
    font-size: 9.5vw;
  }
  .cost-effective h6,
  .visa-assistance h6,
  .faster-processing h6,
  .Direct-interviews h6 {
    margin-top: 2.5vh;
    font-size: 4.5vw;
  }
  .cost-effective p,
  .visa-assistance p,
  .faster-processing p,
  .Direct-interviews p {
    margin-top: 3vh;
    font-size: 4.5vw;
  }
  #btn-page5 {
    margin-top: 5%;
    width: 50%;
    height: 6vh;
    margin-left: 25%;
  }
}
/* page6 */
.page-six {
  height: auto;
  padding: 1%;
  padding-top: 8%;
  background-color: white;
  overflow: hidden;
}
.details-page6 h2 {
  font-size: 4.5vw;
  width: 70%;
  font-family: var(--font);
  color: var(--blue-dark);
  justify-self: center;
  text-align: center;
}
.details-page6 p {
  text-align: center;
}
.US,
.UK,
.U-arab,
.turkey {
  width: 80%;
  height: 55vh;
  background-size: 100% 55vh;
  background-repeat: no-repeat;
  margin-top: 8%;
  margin-left: 4%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.US {
  margin-left: 10%;
  background-image: url(picture/united-state-place.jpg);
}
.UK {
  background-image: url(picture/united-kingdom-place.jpg);
}
.U-arab {
  background-image: url(picture/united-arab-place.jpg);
}
.turkey {
  background-image: url(picture/turkey-place.jpg);
}
.US img,
.UK img,
.U-arab img,
.turkey img {
  width: 25%;
  height: 10vh;
  border-radius: 100%;
  border: 2px solid white;
  margin-top: -10%;
  z-index: 1;
  transition: transform 0.6s ease;
}
.overlay-page6 {
  position: absolute;
  background-color: #1f3d6b6f;
  width: 100%;
  height: 0;
  bottom: 0;
  top: 55vh;
  left: 0;
  right: 0;
  border-radius: 20px;
  transition: 1s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.overlay-page6 h4 {
  padding-top: 70%;
  color: white;
  font-family: var(--font);
  text-shadow: 1px 5px 0px var(--brown), -1px -5px 0px var(--blue-dark);
}
.US:hover .overlay-page6,
.UK:hover .overlay-page6,
.U-arab:hover .overlay-page6,
.turkey:hover .overlay-page6 {
  height: 55vh;
  top: 0;
}
.US:hover #us-img,
.UK:hover #uk-img,
.U-arab:hover #u-arab-img,
.turkey:hover #turkey-img {
  transform: rotate(360deg);
}
/* responsive page6 */
@media screen and (max-width: 576px) {
  .details-page6 p {
    font-size: 3vw;
    margin-top: 4.5%;
    text-align: center;
    margin-left: 1%;
  }
  .details-page6 h2 {
    font-size: 5.5vw;
    width: 90%;
  }
  .US,
  .UK,
  .U-arab,
  .turkey {
    margin-left: 10%;
    margin-top: 7vh;
  }
}
/* page7 */
.page-seven {
  background-color: white;
  padding: 5%;
  height: auto;
  overflow-x: hidden;
}
#client {
  width: 100%;
  height: 25vh;
  margin-top: 9%;
  border-radius: 20px;
  background-color: #1f3d6b7b;
  text-align: left;
  color: rgb(77, 76, 76);
  position: relative;
  padding: 3%;
}
#client i {
  float: right;
  color: rgba(255, 170, 0, 0.596);
}
#arrow-pre {
  margin-top: -140%;
  color: var(--blue-dark);
  font-size: 2vw;
  margin-left: 1120%;
}
#arrow-next {
  margin-top: -140%;
  color: var(--blue-dark);
  margin-left: 40%;
  font-size: 2vw;
}
#client::before {
  content: "";
  width: 10%;
  height: 6vh;
  background-color: #1f3d6b7b;
  position: absolute;
  clip-path: polygon(49% 100%, 0 0, 100% 0);
  margin-top: 21.5%;
  margin-left: 3%;
}
.client-one img {
  width: 12%;
  height: 12vh;
  border-radius: 100%;
  margin-top: 8%;
  margin-left: 5%;
  float: left;
}
.client-one h6 {
  margin-top: 10%;
  font-weight: bold;
  float: left;
  margin-left: 2%;
}
.client-one em {
  margin-top: 14vh;
  float: left;
  margin-left: -15%;
  color: gray;
}

/* responsive page 7 */
@media screen and (max-width: 576px) {
  #client {
    width: 100%;
    height: 18vh;
    margin-top: 5%;
  }
  #client p {
    font-size: 3vw;
  }

  #client::before {
    width: 15%;
    height: 3vh;
    margin-top: 16.3vh;
  }
  .client-one img {
    width: 15%;
    height: 7vh;
  }
  .client-one h6 {
    margin-top: 10%;
    font-weight: bold;
    float: left;
    margin-left: 2%;
  }
  .client-one em {
    margin-top: 8vh;
    float: left;
    margin-left: -30%;
    color: gray;
  }
}
/* page 8 */
.page-eight {
  background-color: whitesmoke;
  padding: 5%;
  height: auto;
  overflow: hidden;
}
.details-page8 h2 {
  font-size: 4.5vw;
  width: 70%;
  font-family: var(--font);
  color: var(--blue-dark);
  justify-self: center;
  text-align: center;
}
.details-page8 p {
  text-align: center;
}
#coaching {
  width: 90%;
  height: 55vh;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-top: 10%;
}
#coaching img {
  width: 100%;
  height: 55vh;
  filter: brightness(0.5);
  display: block;
  border-radius: 10px;
  transition: transform 1s ease-out;
}
#overlay-page8 {
  position: absolute;
  margin-top: -0vh;
  background-color: #1f3d6b77;
  width: 100%;
  height: 0vh;
  top: 55vh;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  transition: 0.4s ease-out;
}
#overlay-page8 div {
  width: 100%;
  height: 0vh;
  top: 55vh;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s ease-in;
  text-align: center;
}
#overlay-page8 div h4 {
  text-align: center;
  width: 100%;
  font-size: 1.6vw;
  margin-top: -3vh;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.71);
}
#overlay-page8 div > p {
  color: rgba(255, 255, 255, 0.587);
}
#overlay-page8 div > button {
  color: white;
}
#coaching:hover #img-ietls {
  transform: scale(1.3);
}
#coaching:hover #overlay-page8 {
  height: 55vh;
  top: 0;
}
#coaching:hover #overlay-page8 div {
  height: 30vh;
  top: 0;
  background-color: var(--brown);
  text-align: left;
}
#coaching:hover #page8-titles {
  text-align: left;
  color: white;
  font-size: 2vw;
  margin-top: 0vh;
}
/* responsive page 8 */
@media screen and (max-width: 576px) {
  #coaching {
    margin-top: 9%;
    margin-left: 4.5%;
  }
  .details-page8 h2 {
    font-size: 4.5vw;
    width: 70%;
    font-family: var(--font);
    color: var(--blue-dark);
    justify-self: center;
    text-align: center;
  }
  #overlay-page8 div h4 {
    font-size: 6.5vw;
  }
  #coaching:hover #page8-titles {
    font-size: 7vw;
    margin-top: 2.5vh;
  }
}

/* page9 */
.page-nine {
  background-color: white;
  padding: 5%;
  height: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
#world-wide-ofices {
  margin-top: 7%;
  justify-self: center;
  width: 80%;
  height: 53vh;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  padding: 8%;
  transition: box-shadow 0.6s ease;
}
#world-wide-ofices img {
  width: 100%;
  height: 20vh;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  transition: transform 0.6s ease;
}
#world-wide-ofices h6 {
  color: var(--blue-dark);
  margin-top: 2vh;
  font-weight: bold;
}
#world-wide-ofices em {
  color: var(--brown);
  font-weight: bold;
}
#world-wide-ofices p {
  color: rgba(0, 0, 0, 0.468);
}
#world-wide-ofices:hover {
  box-shadow: 10px 10px 10px #1f3d6b7a;
}
#world-wide-ofices:hover #offices-img {
  transform: scale(1.1);
}
/* responsive page 9 */
@media screen and(max-width:776px) {
  #world-wide-ofices {
    width: 100%;
  }
}
/* footer */
.footer {
  background-color: var(--blue-dark);
  height: auto;
  padding-top: 5%;
}
#contact-info {
  margin-left: 20%;
}
#contact-info,
#opening-time,
#our-services,
#Newsletter {
  width: 100%;
  text-align: left;
}
#contact-info h4,
#opening-time h4,
#our-services h4,
#Newsletter h4 {
  color: var(--brown);
  font-family: var(--font);
}
#addresses,
#Newsletter p {
  color: white;
  margin-top: 7%;
}
#email,
#number,
#number2 {
  color: white;
}
#addresses span,
#email span,
#number span,
#number2 span {
  color: rgba(255, 255, 255, 0.505);
  letter-spacing: 1.5px;
}
#socials {
  margin-top: 5%;
}
#socials a {
  color: white;
  margin-left: 5%;
  transition: 0.6s ease;
}
#socials a:hover {
  color: var(--brown);
}
#weeks {
  color: rgba(255, 255, 255, 0.441);
}
#work-time {
  color: white;
  margin-top: -3vh;
}
#our-services p {
  color: white;
  margin-top: -1vh;
}
#Newsletter label {
  background-color: white;
  border-radius: 9999px;
  padding: 3%;
  width: 85%;
}
#Newsletter input {
  border-radius: 9999px;
  border: none;
  outline: none;
}
#submit {
  margin-left: -8%;
  padding: 5%;
  background-color: var(--brown);
  color: white;
}
#copyright {
  background-color: var(--brown);
  height: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  color: white;
}
#copyright a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  #contact-info {
    margin-left: 0%;
  }
  #work-time {
    margin-top: -1vh;
  }
  #Newsletter label {
    width: 70%;
  }
}
