* {
  box-sizing: border-box;
}
body {
  background-image: url(picture/map.jpg);
  background-size: 100% 200vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
:root {
  --brown: rgb(156, 125, 84);
  --blue-dark: #1f3d6b;
  --font: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: -1%;
}
#header {
  background-color: var(--blue-dark);
}
#icon-header {
  color: var(--brown);
}
#header-text {
  color: rgba(255, 255, 255, 0.753);
}
#header-links {
  margin-left: 10%;
}
#header-links a {
  color: var(--brown);
  width: 10%;
  border-radius: 100%;
  border: 1px solid white;
  padding: 4px;
  transition: color 0.7s ease;
}
#header-links a:hover {
  color: azure;
}
#header-links-2 a {
  text-decoration: none;
  transition: color 0.7s ease;
  color: rgba(255, 255, 255, 0.45);
}
#header-links-2 a:hover {
  color: azure;
}
.navbar-brand {
  margin-left: 2%;
}
#navbar {
  margin-left: 45%;
}
#name {
  font-size: 3vw;
  font-family: var(--font);
  margin-left: -1%;
  color: var(--brown);
}
#navlinks {
  color: var(--blue-dark);
}
#search {
  background-color: var(--brown);
  color: white;
  padding: 3px;
  font-size: 1.3vw;
  border-radius: 100%;
  outline: none;
  border: none;
  width: 4%;
  height: 6vh;
  margin-left: 1%;
}
#qoute {
  width: 13%;
  border-radius: 9999px;
  background-color: var(--brown);
  color: white;
  outline: none;
  border: none;
  padding: 5px;
  margin-left: 1%;
}

/* responsive-header */
@media screen and (max-width: 576px) {
  #header {
    display: none;
  }
  .navbar-brand {
    margin-left: -5%;
    width: 10px;
  }
  #name {
    font-size: 6.5vw;
    margin-left: 17%;
  }
  #search {
    display: none;
  }
  #qoute {
    display: none;
  }
  .navbar-toggler {
    float: right;
    margin-left: 35%;
  }
}

.page-one h6 {
  margin-top: 8%;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--blue-dark);
}
.page-one h1 {
  font-size: 6vw;
  width: 60%;
  text-align: center;
  justify-self: center;
  font-family: var(--font);
  margin-top: 3%;
  color: white;
  text-shadow: 2px 2px 2px var(--blue-dark);
}
.page-one p {
  width: 80%;
  text-align: center;
  font-size: 1.3vw;
  justify-self: center;
  margin-top: 6%;
  color: white;
  text-shadow: 2px 2px 2px var(--blue-dark);
  font-weight: bold;
  font-weight: normal;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 90vh;
}
.carousel-item img {
  width: 100%;
  height: 90vh;
  filter: blur(7px);
}

#details {
  position: absolute;
  top: -10%;
}
#details button {
  justify-self: center;
  width: 10%;
  padding: 10px;
  background-color: var(--brown);
  border-radius: 9999px;
  margin-top: 2%;
  font-weight: normal;
  color: white;
}
/* responsive page 1 */
@media screen and (max-width: 576px) {
  .page-one h6 {
    margin-top: 65%;
    font-weight: normal;
    font-size: 3.5vw;
  }
  .page-one h1 {
    font-size: 8vw;
    width: 80%;
    margin-top: 10%;
  }
  .page-one p {
    width: 80%;
    font-size: 2.5vw;
    margin-top: 15%;
  }
  #details button {
    width: 40%;
    margin-top: 3%;
  }
}
/* page-two */
.page-two {
  width: 100%;
  height: 105vh;
  background-color: whitesmoke;
  overflow-x: hidden;
}
.page-2-pics {
  width: 80%;
  height: 80vh;
  background-color: gainsboro;
  border-radius: 20px;
}
#img1-page2 {
  width: 100%;
  height: 60vh;
  margin-top: 28%;
}
#img2-page2 {
  margin-top: -163%;
  margin-left: 15%;
  width: 90%;
}
.about-page2 {
  height: 100vh;
  padding: 70px;
}
.about-page2 h6,
.about-page2 h2 {
  color: var(--blue-dark);
}
.about-page2 h2 {
  font-family: var(--font);
  margin-top: 3%;
  font-size: 3.2vw;
}
.about-page2 span {
  display: block;
  margin-top: -6%;
  margin-left: 35%;
  font-size: 2vw;
}
#first-line {
  margin-top: -11%;
  color: var(--blue-dark);
}
#second-line {
  color: var(--brown);
}
.about-page2 p {
  color: gray;
  margin-top: 6%;
}
.icons-page2 {
  display: flex;
  width: 100%;
}
.icons-page2 i {
  font-size: 3.5vw;
  color: var(--brown);
}
.icons-page2 span {
  display: inline-block;
  width: 80%;
  color: var(--blue-dark);
  font-size: 1.2vw;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 1%;
}
.experience {
  width: 90%;
  height: 30vh;
  background-color: gainsboro;
  margin-top: 10%;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
}
.experience i {
  font-size: 5.5vw;
  color: var(--blue-dark);
  margin-top: 8%;
}
#years-of-Experience {
  font-size: 3vw;
  margin-top: -10% !important;
  font-weight: bold;
  color: var(--blue-dark);
}
.experience p {
  margin-top: -11%;
}
#offers {
  margin-left: -10%;
  margin-top: 7%;
}
#offers i {
  font-size: 1vw;
  color: var(--brown);
  margin-top: 3%;
}
#offers span {
  font-size: 1vw;
  margin-left: 6%;
  margin-top: -6.5%;
  color: var(--blue-dark);
  font-weight: bold;
}
#phone-icon {
  font-size: 5vw;
  position: relative;
  color: var(--blue-dark);
  margin-left: -12%;
  margin-top: 4%;
}
#msg-icon {
  display: block;
  position: absolute;
  float: left;
  font-size: 1.5vw;
  color: var(--brown);
  margin-top: -17%;
  margin-left: 2%;
}
#question {
  margin-top: -60px !important;
  color: var(--blue-dark);
  font-weight: bold;
}
#question2 {
  margin-top: -20px;
  margin-left: 45px;
  color: var(--brown);
  font-weight: bold;
}
/* responsive page 2 */

@media screen and (max-width: 576px) {
  .page-two {
    width: 100%;
    height: auto;
  }
  .page-2-pics {
    width: 80%;
    height: 50vh;
    margin-top: 5%;
  }
  #img1-page2 {
    width: 100%;
    height: 30vh;
    margin-top: 49%;
  }
  #img2-page2 {
    margin-top: -183%;
    height: 30vh;
  }

  .about-page2 h6 {
    font-size: 3.2vw;
  }
  .about-page2 h2 {
    margin-top: 7%;
    font-size: 5.2vw;
  }
  .about-page2 span {
    display: block;
    margin-top: -6%;
    margin-left: 53%;
    font-size: 2vw;
  }
  .about-page2 p {
    font-size: 2vw;
  }
  .icons-page2 i {
    font-size: 5.5vw;
    margin-top: 2%;
  }
  .icons-page2 span {
    font-size: 3.2vw;
    margin-left: 2%;
    margin-top: 1%;
  }
  .experience {
    width: 80%;
    height: 27vh;
    margin-left: 7%;
  }
  .experience i {
    font-size: 25.5vw;
    margin-top: 2%;
  }
  #years-of-Experience {
    font-size: 10vw;
  }
  .experience p {
    font-size: 5vw;
  }
  #offers {
    margin-left: 10%;
    margin-top: 7%;
  }
  #offers i {
    font-size: 5vw;
    margin-top: 4%;
  }
  #offers span {
    font-size: 3vw;
    margin-left: 14%;
    margin-top: -9.5%;
  }
  .quastion-div {
    margin-top: 5%;
  }
  #phone-icon {
    font-size: 9vw;
    margin-left: 15%;
    margin-top: 4%;
    position: relative;
  }
  #msg-icon {
    font-size: 3.5vw;
    margin-top: -13%;
    margin-left: 21%;
    position: absolute;
  }
  #question {
    margin-top: -35px !important;
    color: var(--blue-dark);
    position: absolute;
    font-weight: bold;
    font-size: 2.5vw;
    margin-left: 30% !important;
    float: left;
  }
  #question2 {
    margin-top: -30x !important;
    color: var(--blue-dark);
    position: absolute;
    font-weight: bold;
    font-size: 2.5vw;
    margin-left: 30% !important;
    float: left;
  }
}
/* page 3 */
.page-three {
  width: 100%;
  height: 60vh;
  background-color: rgba(245, 245, 245, 0.623);
}
.categories,
.team-mmbr,
.visa-process,
.rates {
  width: 75%;
  height: 40vh;
  margin-left: 15%;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  margin-top: 25%;
}
#blue-div {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--blue-dark);
}
.icon-div-page2 {
  position: relative;
  z-index: 1;
  width: 50%;
  height: 18vh;
  background-color: #08316d8b;
  display: flex;
  justify-content: center;
  margin-top: -5%;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.icon-div-page2::before {
  content: "";
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 16.5vh;
  clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
  background-color: #2f62af46;
}

.icon-div-page2 i {
  font-size: 4.5vw;
  margin-top: 12%;
  color: var(--brown);
  transition: transform 0.6s ease;
  z-index: 1;
}
.categories:hover .icon-div-page2 i,
.team-mmbr:hover .icon-div-page2 i,
.visa-process:hover .icon-div-page2 i,
.rates:hover .icon-div-page2 i {
  transform: rotate(360deg);
}
.categories P,
.team-mmbr p,
.visa-process p,
.rates p {
  justify-self: center;
  color: var(--blue-dark);
  font-weight: bold;
  margin-top: 8%;
  letter-spacing: 1.5px;
}
.categories b,
.team-mmbr b,
.visa-process b,
.rates b {
  display: block;
  justify-self: center;
  color: var(--brown);
  font-size: 2.5vw;
  margin-top: -8%;
}
/* responsive page 2 */
@media screen and (max-width: 567px) {
  .page-three {
    width: 100%;
    height: auto;
    padding: 10%;
  }

  .categories,
  .team-mmbr,
  .visa-process,
  .rates {
    width: 70%;
    height: 35vh;
    margin-left: 15%;
  }
  .categories div,
  .team-mmbr div,
  .visa-process div,
  .rates div {
    height: 15vh;
  }
  .icon-div-page2 {
    width: 70%;
    height: 40vh;
  }
  .icon-div-page2::before {
    height: 38.5vh;
  }
  .icon-div-page2 i {
    font-size: 19.5vw;
  }
  .categories P,
  .team-mmbr p,
  .visa-process p,
  .rates p {
    font-size: 5.2vw;
  }
  .categories b,
  .team-mmbr b,
  .visa-process b,
  .rates b {
    font-size: 10.5vw;
    margin-top: -5%;
  }
}
/* page4 */
.page-four {
  height: auto;
  padding: 8%;
  background-color: white;
  overflow: hidden;
}
.details-page4 {
  text-align: center;
}
.div1-page4 {
  display: flex;
  justify-content: center;
}
#first-line-right,
#first-line-left {
  color: var(--blue-dark);
  font-weight: bolder;
}
#second-line-right,
#second-line-left {
  color: var(--brown);
  font-weight: bolder;
}
.div1-page4 p {
  color: var(--blue-dark);
  letter-spacing: 2px;
  font-weight: bold;
}
.details-page4 h2 {
  font-size: 4.5vw;
  width: 60%;
  font-family: var(--font);
  color: var(--blue-dark);
  justify-self: center;
}
#page4-para {
  color: gray;
  margin-top: 4%;
  width: 80%;
  justify-self: center;
}
.div1-overlay,
.div2-overlay,
.div3-overlay,
.div1-part2-overlay,
.div2-part2-overlay,
.div3-part2-overlay {
  width: 100%;
  height: 60vh;
  background-size: 100% 60vh;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-left: 2%;
}
.div1-overlay {
  background-image: url(picture/pic1-page4.jpg);
}
.div2-overlay {
  background-image: url(picture/pic-page4.jpg);
}
.div3-overlay {
  background-image: url(picture/pic3page4.jpg);
}
.div1-part2-overlay {
  background-image: url(picture/pic4page4.jpg);
}
.div2-part2-overlay {
  background-image: url(picture/pic6page4.jpg);
}
.div3-part2-overlay {
  background-image: url(picture/pic5page4.jpg);
}
.overlay {
  background-color: rgba(245, 245, 245, 0.445);
  width: 100%;
  height: 0px;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  transition: 1s ease;
  overflow: hidden;
}
.div1-overlay:hover .overlay,
.div2-overlay:hover .overlay,
.div3-overlay:hover .overlay,
.div1-part2-overlay:hover .overlay,
.div2-part2-overlay:hover .overlay,
.div3-part2-overlay:hover .overlay {
  height: 60vh;
  top: 0%;
}
.div1-1-overlay,
.div2-2-overlay,
.div3-3-overlay {
  text-align: center;
  width: 80%;
  padding: 5%;
  color: white;
  position: absolute;
  border-radius: 20px;
  margin-top: 78%;
  justify-self: center;
  transition: all 1s ease;
  z-index: 1;
}
.div1-1-overlay h3,
.div2-2-overlay h3,
.div3-3-overlay h3 {
  background-color: var(--blue-dark);
  border-radius: 10px;
  width: 100%;
  padding-top: 3%;
  font-family: var(--font);
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1.5vw;
  height: 8vh;
}
.div1-1-overlay hr,
.div2-2-overlay hr,
.div3-3-overlay hr {
  display: none;
}
.div1-1-overlay p,
.div2-2-overlay p,
.div3-3-overlay p {
  color: gray;
  display: none;
  margin-top: 8%;
}
.div1-1-overlay button,
.div2-2-overlay button,
.div3-3-overlay button {
  background-color: rgb(234, 233, 233);
  color: var(--brown);
  padding: 3%;
  width: 50%;
  height: 8vh;
  border-radius: 9999px;
}
.div1-overlay:hover .div1-1-overlay,
.div2-overlay:hover .div2-2-overlay,
.div3-overlay:hover .div3-3-overlay,
.div1-part2-overlay:hover .div1-1-overlay,
.div2-part2-overlay:hover .div2-2-overlay,
.div3-part2-overlay:hover .div3-3-overlay {
  height: 50vh;
  background-color: #1f3d6b;
  margin-top: 30%;
}
.div1-overlay:hover .div1-1-overlay hr,
.div2-overlay:hover .div2-2-overlay hr,
.div3-overlay:hover .div3-3-overlay hr,
.div1-part2-overlay:hover .div1-1-overlay hr,
.div2-part2-overlay:hover .div2-2-overlay hr,
.div3-part2-overlay:hover .div3-3-overlay hr {
  display: block;
}
.div1-overlay:hover .div1-1-overlay p,
.div2-overlay:hover .div2-2-overlay p,
.div3-overlay:hover .div3-3-overlay p,
.div1-part2-overlay:hover .div1-1-overlay p,
.div2-part2-overlay:hover .div2-2-overlay p,
.div3-part2-overlay:hover .div3-3-overlay p {
  display: block;
}
.div1-overlay:hover .div1-1-overlay button,
.div2-overlay:hover .div2-2-overlay button,
.div3-overlay:hover .div3-3-overlay button,
.div1-part2-overlay:hover .div1-1-overlay button,
.div2-part2-overlay:hover .div2-2-overlay button,
.div3-part2-overlay:hover .div3-3-overlay button {
  display: block;
  background-color: var(--brown);
  border-radius: 9999px;
  color: white;
  justify-self: center;
}
.part2-page4 {
  margin-top: 10%;
}
/* responsive page4 */
@media screen and (max-width: 576px) {
  .page-four {
    padding-bottom: 35%;
    padding-top: 0;
  }
  .div1-page4 p {
    font-size: 3vw;
    margin-top: 4%;
  }
  .details-page4 h2 {
    font-size: 6.5vw;
    width: 90%;
  }
  #page4-para {
    width: 90%;
    font-size: 3vw;
  }
  .div1-overlay,
  .div2-overlay,
  .div3-overlay,
  .div1-part2-overlay,
  .div2-part2-overlay,
  .div3-part2-overlay {
    margin-top: 30%;
  }
  .div1-1-overlay,
  .div2-2-overlay,
  .div3-3-overlay {
    margin-top: 53vh;
  }
  .div1-1-overlay h3,
  .div2-2-overlay h3,
  .div3-3-overlay h3 {
    font-size: 4.5vw;
    margin-top: 5%;
    padding-top: 3%;
    height: 6vh;
  }
  .div1-1-overlay button,
  .div2-2-overlay button,
  .div3-3-overlay button {
    padding: 2%;
    width: 60%;
    height: 5vh;
  }
  .div1-overlay:hover .div1-1-overlay,
  .div2-overlay:hover .div2-2-overlay,
  .div3-overlay:hover .div3-3-overlay,
  .div1-part2-overlay:hover .div1-1-overlay,
  .div2-part2-overlay:hover .div2-2-overlay,
  .div3-part2-overlay:hover .div3-3-overlay {
    height: 40vh;
    background-color: #1f3d6b;
    margin-top: 60%;
  }
  .div1-overlay:hover .div1-1-overlay p,
  .div2-overlay:hover .div2-2-overlay p,
  .div3-overlay:hover .div3-3-overlay p,
  .div1-part2-overlay:hover .div1-1-overlay p,
  .div2-part2-overlay:hover .div2-2-overlay p,
  .div3-part2-overlay:hover .div3-3-overlay p {
    display: block;
    font-size: 3.5vw;
  }
}
/* page5 */
